doctype html
html
  head
  script(src='/js/jquery-3.2.1.js')
  script(src='/js/view.js')
  title Node: #{nodeId}

  body
    h1 Node Id: #{nodeId}
    h2 Listening port: #{localPort}
    h3 Initial node IP: #{initialNodeIp}
    h3 Initial node port: #{initialNodePort}
    br
    h3 Sensor responsability: 
        a(href='http://' + sensorIpAddress + ':' + sensorPortNumber) Go to node


    h2 Network IP (#{ipAddresses.length}):
        ul
            each val in ipAddresses
                li= val
    br
    div#resultDiv Enter node id
    input(type='text', id='nodeIdInput')
    button#nodeLookupButton Node lookup
    br

    br
    div#valueResultDiv Enter key
    input(type='text', id='valueKeyInput')
    button#valueLookupButton Value lookup
    br

    br 
    div Key 
     input(type='text', id='keyInput')
    div Value   
      input(type='text', id='valueInput')
    button#storeButton Store
    div#storeResultDiv
    
    br
    
    h2 Buckets (#{buckets.length}):
        ul
            each bucket in buckets
                li Bucket with #{bucket.nodes.length} nodes, key #{bucket.key}.
                ul
                    each node in bucket.nodes
                        li NodeId: #{node.nodeId} IP: #{node.ipAddress} Port: #{node.port}  
                            a(href='http://' + node.ipAddress + ':' + node.port) Go to node
     
    br
    h2 Stored values (#{storedValues.length}):
        ul
            each value in storedValues
                li Key:  #{value.key}, Value !{JSON.stringify(value.value)}


    br
    h2 Historical values (#{historicalValues.length}):
        ul
            each value in historicalValues
                li Key:  #{value.keyHash}, Timestamp: #{value.timeStamp}, Value !{JSON.stringify(value.value)}
