doctype html
html
  head
    title Node: #{nodeId}
  body
    h1 Node Id: #{nodeId}
    h2 Listening port: #{localPort}
    h3 Initial node IP: #{initialNodeIp}
    h3 Initial node port: #{initialNodePort}
    h2 Network IP (#{ipAddresses.length}):
        ul
            each val in ipAddresses
                li= val
    

    h2 Buckets (#{buckets.length}):
        ul
            each bucket in buckets
                li Bucket with #{bucket.nodes.length} nodes, key #{bucket.key}.
                ul
                    each node in bucket.nodes
                        li NodeId: #{node.nodeId} IP: #{node.ipAddress} Port: #{node.port}