doctype html
html
  head
  script(src='/js/jquery-3.2.1.js')
  script(src='/js/view.js')

    title Node: #{nodeId}
  body
    h1 Node Id: #{nodeId}
    h2 Listening port: #{localPort}
    h3 Initial node IP: #{initialNodeIp}
    h3 Initial node port: #{initialNodePort}
    h2 Network IP (#{ipAddresses.length}):
        ul
            each val in ipAddresses
                li= val
  
    input(type='text', id='nodeId')
    button#nodeLookupButton Find Node
    br
    div#resultDiv Enter node id


    h2 Buckets (#{buckets.length}):
        ul
            each bucket in buckets
                li Bucket with #{bucket.nodes.length} nodes, key #{bucket.key}.
                ul
                    each node in bucket.nodes
                        li NodeId: #{node.nodeId} IP: #{node.ipAddress} Port: #{node.port}  
                            a(href='http://' + node.ipAddress + ':' + node.port) Go to node